.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
*
*header
*
*/

.header-logo {
  height: 150px;
}

.header-name {
  font-size: 7em;
}

.header-position {
  font-size: 2.5em;
}

.paragraph {
  font-size: 2em;
}

/*
*
*link
*
*/

.link-title {
  font-size: 4em;
}

.img-description {
  font-size: 3em;
}

.item1 {
  width: 50%;
}

.item2 {
  width: 50%;
}

.item3 {
  width: 100%;
}

.item-image {
  object-fit: cover;
}
